<connectionStrings>
  <add name="UPExchangeEntities" connectionString="metadata=res://*/UPExchangeModel.csdl|res://*/UPExchangeModel.ssdl|res://*/UPExchangeModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost\SqlExpress;initial catalog=UPEnterprise;integrated security=false;User ID=sa;Password=Abc?123;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="UPExchange" connectionString="Data Source=localhost\SqlExpress;Initial Catalog=AssecorDb;UID=sa;PWD=Abc?123" providerName="System.Data.SqlClient"/>
</connectionStrings>